---
import Layout from "@Layout/Layout.astro";
import { SampleParts } from "@Component/react/parts/Sample";

interface Props {
  name: string;
}

const { name } = Astro.props;
---

<Layout title="debug/aページだと思うな">
  <div>
    これは pages/debug/a.astro です
    {name}
  </div>
  <div>
    <SampleParts hoge="piyo">何も指定してない</SampleParts>
    <SampleParts client:only="react" hoge="fuga">
      `client:only="react"`を付けている</SampleParts
    >
  </div>
</Layout>
