---
import Layout from "@Layout/Layout.astro";

//const hoge = import.meta.env.PUBLIC_ANYBODY;
//const fuga = import.meta.env.SECRET_PASSWORD;
---

<Layout title="indexページだと思うな">
  <div class="flex min-h-screen flex-col">
    <!-- ヘッダー -->
    <header class="bg-gray-200 p-4 text-center">ヘッダーです</header>

    <!-- メインコンテンツ -->
    <div class="flex flex-1">
      <!-- サイドバー -->
      <aside class="hidden bg-gray-100 p-4 md:block md:w-1/4">
        サイドバーです
      </aside>

      <!-- メイン記事 -->
      <main class="w-3/4 bg-white p-6">
        <h1 class="mb-4 text-2xl font-bold">これはタイトルです</h1>
        <p class="prose mb-4">
          これは文章です。その牛乳屋の方へ行きました。近くの人たちが、何かたいへんあわてたふうで、小さな鼠いろの切符をしっかりもっておいで。
          あのころはよかったなあええ、けれど、ごらんなさい、そら、それは次の頁だよ。
        </p>
        <p>
          次の文章です。その牛乳屋の方へ行きました。近くの人たちが、何かたいへんあわてたふうで、小さな鼠いろの切符をしっかりもっておいで。
          あのころはよかったなあええ、けれど、ごらんなさい、そら、それは次の頁だよ。
        </p>
        <p>
          <a href="/debug/a" data-astro-prefetch>debugページ</a>
        </p>
      </main>
    </div>

    <!-- フッター -->
    <footer class="bg-gray-200 p-4 text-center">フッターです</footer>
  </div>
</Layout>
